#title{
}
.carousel1{
  height: 500px;
  width:50%;
}
body{

}
p{
  font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: bolder;
    line-height: 2;

}
h5{
  margin-left: 10px;
  font-family: 'Cinzel', serif;
  font-size: 4vw;
  padding-top: 3.5rem;
  font-weight: bold;
  color: #000;
}
h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
.contanier{
  padding: 2% 3% 0 3%;
}
#features{
  padding: 7% 15%;
}

/* navbar */
.navbar{

}
.navbar-brand
{
  font-family:'Lobster', cursive;
  font-size: 2.5rem;

}
/* title img */

.price{
  text-align:

}
.feature-box{
  text-align: center;
  padding: 10% 5%;
}
.icon{
  color: #ffa400;
  margin-bottom: 1.25rem;
}
.icon:hover{
  color: #ff5959;
}
.back-img{
  background: url(https://i.ibb.co/NYthYch/feat-back-img.jpg);
  background-repeat: no-repeat;
}
.feat-head1{
  color: #ff0000;
}
.feat-head1:hover{
  color: #738598;
}
.feat-head2{
  color: #ff0000;
}
.feat-head2:hover{
  color: #738598;
}
.feat-head3{
  color: #ff0000;
}
.feat-head3:hover{
  color: #738598;
}
/* corosel-buttons */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.contanier{
  padding: 0;
}
.col-lg-12{
  padding: 0;
}
.tag-line2{
  color: #fff;
}
.tag-line3{
  color:#fff;
}
.feat-body1{
  color: #000;
}
.feat-body1:hover{
  color:#738598;
}
.feat-body2{
  color: #000;
}
.feat-body2:hover{
  color:#738598;
}
.feat-body3{
  color:#000;
}
.feat-body3:hover{
  color:#738598;
}
#packages{
  background-image: url(https://i.ibb.co/vDy97sY/pexels-photo-860379.jpg);
}
.price-card{
padding-top: 0;
padding-bottom: 5%;
}
.card-header{
  background-color: #2f89fc;
}
